*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: radial-gradient(circle at 50% 0%, #292C33, #0B0C0E);
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #6F768C;
    transition: all 1s ease-in-out;
    font-size: 16px;
}

a {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: #4D505D;
    text-decoration: none;
    transition: all 1s ease-in-out;
    padding: 0 1rem;
}

a:hover {
    color: #FF849F;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.nunito-base {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.header {
    margin: 20px; 
    position: absolute; 
    top: 0; 
    width: 100%;
}

.footer .logo {
    width: 60px;
    mix-blend-mode: soft-light;
    opacity: 68%;
}

.footer .figma {
    width: 20px;
    opacity: 68%;
}

.footer {
    position: absolute; 
    bottom: 0; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lil-gui {
    position: fixed; 
    top: 1rem !important;   
    right: 1rem !important;   
    z-index: 1000;   
}